@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap");

* {
  font-family: "Montserrat";
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  color: #555555;
  font-weight: lighter;
  margin-bottom: 15px;
  margin-top: 50px;
  border-bottom: 1px solid #252525;
  padding-bottom: 12px;
}

footer {
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
}

.mainbox {
  width: 600px;
  padding: 30px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #252525;
}

.titlebox {
  text-align: right;
}

.name-text {
  font-size: 14px;
  color: #252525;
  font-weight: bold;
  font-style: italic;
}

.about-me-text {
  font-size: 12px;
  line-height: 20px;
  border: 1px solid #25252583;
  padding: 20px;
  box-shadow: 0 1px 10px 1px rgba(128, 128, 128, 0.5);
}

.float-wrap {
  overflow: hidden;
}

.title-text {
  float: left;
  font-size: 16px;
  font-weight: bold;
  color: #252525;
}

.year-text {
  float: right;
  font-size: 16px;
  font-weight: bold;
  color: #252525;
}

.desc-text {
  font-size: 14px;
}

.desc-subtext {
  font-size: 12px;
  padding-left: 12px;
  color: #878787;
}

.sns-wrap {
  text-align: right;
  padding-top: 50px;
}

.sns-img {
  width: 30px;
  height: 30px;
}
