@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family: 'Montserrat';
}

.container {
    width: 700px;
    height: 400px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border: 5px solid #866757c4;
    border-radius: 5px;
    background-color: rgba(109, 74, 57, 0.719);
}

.name-img{
    display: flex;
    border-bottom: 2px solid rgba(109, 74, 57, 0.719);
    margin-top: 20px;
    padding-bottom: 60px;
}

.img-circle {
    width: 30%;
    height: 30%; 
    border-radius: 70%;
    overflow: hidden;
    margin-top: 20px;
    margin-right: 20px;
}

.info-container {
    margin-left: 30px;
}

.info{
    margin: 10px;
    font-size: 20px;
}

#name {
    margin-top: 50px;
    width: 500px;
}